<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bitz.moregames/cell1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,18}</string>
			<key>spriteSourceSize</key>
			<string>{89,18}</string>
			<key>textureRect</key>
			<string>{{0,0},{89,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/cell2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,18}</string>
			<key>spriteSourceSize</key>
			<string>{89,18}</string>
			<key>textureRect</key>
			<string>{{91,0},{89,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/cell3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,18}</string>
			<key>spriteSourceSize</key>
			<string>{89,18}</string>
			<key>textureRect</key>
			<string>{{0,20},{89,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/meltdownIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,40},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/subzeroIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,170},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/worldIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,300},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>bitz.moregames/IconSheet.png</string>
		<key>size</key>
		<string>{180,428}</string>
		<key>textureFileName</key>
		<string>bitz.moregames/IconSheet.png</string>
	</dict>
</dict>
</plist>