<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bitz.moregames/cell1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{358,72}</string>
			<key>spriteSourceSize</key>
			<string>{358,72}</string>
			<key>textureRect</key>
			<string>{{0,0},{358,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/cell2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{358,72}</string>
			<key>spriteSourceSize</key>
			<string>{358,72}</string>
			<key>textureRect</key>
			<string>{{360,0},{358,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/cell3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{358,72}</string>
			<key>spriteSourceSize</key>
			<string>{358,72}</string>
			<key>textureRect</key>
			<string>{{0,74},{358,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/meltdownIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,148},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/subzeroIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,662},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bitz.moregames/worldIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,1176},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>bitz.moregames/IconSheet-uhd.png</string>
		<key>size</key>
		<string>{718,1688}</string>
		<key>textureFileName</key>
		<string>bitz.moregames/IconSheet-uhd.png</string>
	</dict>
</dict>
</plist>